<h1>Admininstrative Menu</h1>

<div class="text-info" id="notice"><%= notice %></div>

<div class="jumbotron">
  <div class="text-info"><mark>More stuff will be coming here, such as the ability to drill into events, etc.</mark></div>

  <p><%= link_to 'Manage Events', events_path , :class => 'btn btn-primary'%></p>
  <p><%= link_to 'Manage Scenarios', scenarios_path, :class => 'btn btn-success' %></p>
  <p><%= link_to 'Manage Users', users_path, :class => 'btn btn-info' %></p>
</div>
