<h1>This is the MSP-Pathfinders Registration system</h1>
<p id="notice"><%= notice %></p>
<%= link_to 'Event Listings', events_path %>
<br>
<%= link_to 'Scenario Listings', scenarios_path %>
<br>
<div class="central" style="width: 100%;">
  <!-- TODO - add Register (Paypal)! -->
  <!-- TODO - add Sign Up (Registration Site)! -->
</div>