<!doctype html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<b>Pathfinder (or maybe Starfinder?),</b>

<p>There comes a time in a Minnesotan gamer's year when the distant sounds of dice rattling in the Scandinavian Ballroom at the Crown Plaza in Plymouth Minnesota reaches their ears! It is the time that they realize that Con of the North, the longest running games convention in Minnesota is coming soon!</p>

<p>As you may know, we cannot put on these events without the help of our volunteers. We are still looking to fill over 100 GM tables.</p>

<p>If you would like to volunteer as a GM or HQ, please take the time to fill out the <a href="https://forms.gle/kbowRbPe9ZmtCYr97">MNPOP at Con of the North 2020 Volunteer Form</a>. Please choose how many sessions you would like, the campaigns you'd like to volunteer for, and which sessions you are available. We will do our best to give you as many sessions as you would like, in the slots that you would prefer.</p>

<p>Volunteer for as many slots as you would like, but please remember to register for <a href="http://conofthenorth.org/registration/">Con of the North</a> as a Judge, which will allow you to both play and GM. If you are doing nothing but volunteering, you can also sign up as a Referee, which gets you into the Con for free! However, if you decide to play a game with a referee badge (ex. if your table doesn't make and you're offered a game to play), you will have to purchase a judge badge at the convention.</p>

<p>As a reminder, the cost of a 3-day badge is $30, but the price goes up to $40 after December 31.</p>

<p>Depending on the nature of the program in February, we will have boons for the various campaigns (for PFS2e, expect that we'll be a "Premier Plus" event, thus generating additional Achievement Points! MN-POP will also be providing all chronicles, and will be supplying water and throat lozenges to all table GMs.</p>

<b>The first round of GM assignments will be out by December 1.</b>

<p>Thank you for volunteering! We cannot do this without you!</p>

<hr>
<div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
  <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>

</body>
</html>

