<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
<%= @message.content %>

<hr>
<p>SkålCon and MSP Pathfinders</p>
</body>
</html>
