<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></div>
<div style="white-space: pre-wrap"><%= @message.content %></div>

<hr>
<p>SkålCon and MSP Pathfinders</p>

<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
