<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

It looks like you have paid to attend SkålCon 2016, but have not created an account on <a href="https://pfs-registration.herokuapp.com/">MSP PFS Registration</a>.

Please go to <a href="https://pfs-registration.herokuapp.com/">MSP PFS Registration</a> and create your account. Once you have verified your email, please click on the goldenrod "Register" button next to SkålCon to register for the convention. Within 24 hours, volunteers will verify your "paid" status, and you will be able to sign up for specific games.

We can still use several GMs in all slots! If you are interested, please volunteer by adding your full name to a slot on the Volunteer Spreadsheet at <a href="https://docs.google.com/spreadsheets/d/1kKR-Z0WPtOpWJhYtGwaDQog29E6PhJ5CkvUD_QB6fqY/edit">GM Signup Spreadsheet</a>. It is only through the generosity of our volunteer GMs that we can successful!

<hr>
<p>SkålCon and MSP Pathfinders</p>
</body>
</html>
