<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div>Message from <%= @message.name %></div>
<div>Subject: <%= @message.subject %></div>
<div><%= @message.content %></div>
</body>
</html>
