<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Message from <%= @message.name %></h1>
<div>This is a sample email.</div>
<div><%= @message.content %></div>
</body>
</html>
