<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
  <p><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>


  <div class="card">
    <div class="card-header">
      <div class="h5 card-title">Requesting Physical Donations at <%= @event.name %>!</div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p>Besides attending SkalCon, there are some other ways you can help make this event super
          successful – physical donations! We accept donations for our auction and raffle – and more importantly, for
          Tubman! Let’s get some more details so you know what to bring with you to SkalCon!
        </p>
        <h3>Supply Drive for Tubman</h3>

        <p>We’ll be having a Supply Drive for Tubman, as we do every year. And we do mean supplies – many of the items
          on
          <a href="https://tubman.org/file_download/b8f9d4f2-c099-4a98-b3f1-ebcb4bea9a5d">Tubman’s donation wish
            list</a>
          are everyday products a family needs, like soaps, snack bags, and diapers.</p>

        <p>Please look at their
          <a href="https://tubman.org/file_download/b8f9d4f2-c099-4a98-b3f1-ebcb4bea9a5d">official donation wish
            list</a>
          and their
          <a href="https://www.tubman.org/give-help/ways-to-give/donate-goods.html">donation page</a>
          on their website. Get some items to bring, and we’ll give you some stars for your SkalCon badge!
          What do the stars get you? In-game benefits! Your GM will know what’s up. 🙂</p>

        <h3>Auction/Raffle Item Donation</h3>

        <p>Have some gently-used RPG gear that you don’t want anymore? Happen to have some tickets of some kind you’d
          like to donate to a good cause? SkalCon can take those off your hands!</p>

        <p>Our auction and raffle is stocked, in part, by attendees donating something cool they think others would
          like.
          If you have an item you think fits the bill, email <a mailto="contact@skalcon.org">contact@skalcon.org</a>
          with the details and we’ll be in touch!
          Item donations are tax deductible as well! Just ask for a donation receipt and we will provide.</p>
      </div>
    </div>


    <div class="card-text">Thank you for making this convention a success!</div>

    <hr>
    <div class="card-text"><%= @event.name %>, 10,000 Lakes Gaming, and Minnesota Paizo Organized Play</div>
  </div>
</div>

<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
