<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
  <p><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>

  <div class="card">
    <div class="card-header">
      <div class="h5 card-title"><%= @event.name %> Physical Goods Donation Drive!</div>
    </div>
    <div class="card-body">
      <div class="card-text">We will be running a supply drive for Tubman again this year! Please bring items as per
        <a href="https://tubman.org/file_download/b8f9d4f2-c099-4a98-b3f1-ebcb4bea9a5d">Tubman’s General Wish List
          guide</a>,
        which includes household supplies and certain non-perishable food items. Visit
        <a href="https://tubman.org/give-help/ways-to-donate/donate-goods.html?page=1">Tubman’s donation page</a> for
        additional details on what their organization is looking for. Each donation will receive a ‘star’ that will have
        in-game benefits during SkålCon! In addition, you can request a donation receipt for tax purposes if you so
        choose.
      </div>
    </div>
  </div>

  <hr>

  <div class="card">
    <div class="card-header">
      <div class="h5 card-title">Every item (up to 15) will get you in game benefits!</div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div>You will receive one star to put on your badge for each item that you bring in as a donation to the
          Physical Donation Drive!
        </div>
        <hr>
        <div>
          <dl class="row">
            <dt class="col-sm-2">Stars 1-5</dt>
            <dd class="col-sm-10">
              <div class="h6">The first five items that you bring will give you a re-roll, once per session, with the
                bonus on the roll equal to the number of items you have brought (up to +5).
              </div>
              <div>Thus, if you bring in three items Friday night, you will receive a +3 to one re-roll every
                session you play all weekend.
                <em>(note: This will not stack with yer GM Star bonus re-roll; use which ever is higher)</em>
              </div>
            </dd>
          </dl>
        </div>
        <div>
          <dl class="row">
            <dt class="col-sm-2">Stars 6-15</dt>
            <dd class="col-sm-10">
              <div class="h6">The next ten items will make your <em>Aid Another</em> actions more effective!</div>
              <div>Once per session, you can grant a bonus to a teammates roll equal to the number of items over
                five that you have donated. <em>(this will not stack with the regular +2 for aid another)</em>
              </div>
              <div>Thus, if you bring in 12 items, you will grant your teammate +7 on a single check that you help
                with the <em>aid another</em> action.
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="card">
    <div class="card-header">
      <div class="h5 card-title">The need is real!</div>
    </div>
    <div class="card-body">
      <div class="card-text">Lets bring a lot of supplies, Pathfinders! Tubman's Transitional Housing is full and their new
        Youth Center has been full since it opened. The need is great and we can make a real, positive difference in
        someone's life.
      </div>

      <div class="card-text">Thank you for making this convention a success!</div>

      <hr>
      <div class="card-text"><%= @event.name %>, 10,000 Lakes Gaming, and Minnesota Paizo Organized Play</div>
    </div>
  </div>
</div>
</body>
</html>
