<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <title><%= @message.subject %></title>
</head>
<body>
<pre><%= @message.content %></pre>
</body>
</html>
