<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
<h1>SkålCon Payment Reminder!</h1>
<p>If you have not done so already, please go to
  <a href="http://www.skalcon.org/index.php/register/">skalcon.org</a> and process your payment for SkålCon.
  Pre-registration is only $20, and allows you to select your scenarios prior to the event!</p>

<p>If you have already paid for your SkålCon registration, thank you! Pleas feel free to ignore this message.</p>

<h2>Donations accepted!</h2>
<p>If you would like to donate something for either the silent auction or the raffle, please let us know by going to
  <a href="https://pfs-registration.herokuapp.com/contact">our contact page</a> and selecting 'I have something to
  donate!' in the dropdown. Someone will contact you to arrange for your donation.</p>

<p>Thank you for making this convention a success!</p>

<hr>
<p>SkålCon and MSP Pathfinders</p>
</body>
</html>
