<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= image_tag("skalbanner.png", size: "250x100", alt: "Sk책lCon") %>
<h1>Time is running out!</h1>
<p>If you have not done so already, please go to
  <a href="http://www.skalcon.org/index.php/register/">skalcon.org</a> and process your payment for Sk책lCon.
  Pre-registration is only $20, and allows you to select your scenarios prior to the event! This goes up to $25 <b>cash</b> on Friday.</p>

<p>If you have already paid for your Sk책lCon registration, thank you! Pleas feel free to ignore this message.</p>

<p>Thank you for making this convention a success!</p>

<hr>
<p>Sk책lCon and MSP Pathfinders</p>
</body>
</html>
