<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
<h1>SkålCon Guest GM Raffles Presales end Wednesday at 5PM!</h1>

<h2>Guest Table Raffle</h2>

<p>This year we have several guests providing guest tables. Multiple guest tables will be available during four of the five timeslots at SkalCon:</p>

<ul>
  <li>Friday Evening</li>
  <li>Saturday Morning</li>
  <li>Saturday Afternoon</li>
  <li>Sunday Afternoon</li>
</ul>
<p>Raffle drawings will be held at least the timeslot before the guest table occurs! This will allow everyone to adjust their gaming schedule with less issue. For now, assume raffle winners will be mustered as a group to determine which table the play at.</p>

<p>To facilitate this, guest raffle tickets are available for pre-purchase before the convention. Friday’s guest tables will be pulled from this group of raffle tickets. Don’t worry – guest raffle tickets will also be available for purchase at the convention.</p>

<p style="color: red">Presales end Wednesday, September 14, at 5PM! Act now for your best chance to get in on Friday night guest GM tables!</p>

<p>Thank you for making this convention a success!</p>

<hr>
<p>SkålCon and MSP Pathfinders</p>
</body>
</html>
