<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= email_image_tag("skalbanner.png", size: "250x100", alt: "Sk책lCon") %>
<h1>Sk책lCon Reminder!</h1>

<h2>Session tickets!</h2>
<p>If you haven't done so already, please go onto <a href="https://pfs-registration.herokuapp.com/">MSP PFS Registration</a>, go to Sk책lCon, and select the scenarios that you with to play. If you have paid for the event (through paypal) you will have been marked as 'Paid' in the application within 24 hours of registering for the event.</p>

<h2>GMs still needed!</h2>
<p>We can still use several GMs in all slots! If you are interested, please volunteer by adding your full name to a slot on the  <a href="https://docs.google.com/spreadsheets/d/1kKR-Z0WPtOpWJhYtGwaDQog29E6PhJ5CkvUD_QB6fqY/edit">GM Volunteer spreadsheet</a>. It is only through the generosity of our volunteer GMs that we can successful!</p>

<hr>
<p>Sk책lCon and MSP Pathfinders</p>
</body>
</html>
