<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %>
<h1>SkålCon Food Drive!</h1>

<p>New for this year is a food drive to support Tubman. PLease  bring non-perishable food items for donation. Desired items are things like canned fruits, vegetables, soup, and dry goods (pasta, rice, etc.). As always with food items, we can only accept unopened items in their original packaging. </p>

<p>For every food item you bring, you will receive a bonus:</p>

<p>1-5 food items equals a +1 to +5 on a re-roll once per session.</p>

<p>Thus, if you bring in three cans of vegetables Friday night, you will receive a +3 to one re-roll every session you play all weekend.</p>

<p>(note: This will not stack with yer GM Star bonus re-roll; use which ever is higher)</p>

<p>If you bring in more than five food items, you will receive a bonus to the Aid Another action! If you bring in fifteen food items, the first five go to the re-roll, and the next ten go to the Aid Another bonus for a bonus of +10 to one Aid Another once per session. This is not in addition to, but substitutes for the normal +2. Again, for every food item over five, your Aid Another bonus equals the number of food items over five.
</p>
<p>Lets bring a lot of food, people! Tubman's Transitional Housing is full and their new Youth Center has been full since it opened this year. The need is great and we can make a real, positive difference in someone's life.
</p>

<p>Thank you for making this convention a success!</p>

<hr>
<p>SkålCon and MSP Pathfinders</p>
</body>
</html>
