<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</head>

<body>`
<div class="container-fluid">
  <p><%= image_tag("skalbanner.png", size: "250x100", alt: "SkålCon") %></p>

  <b>Dear SkålCon attendees,</b>

  <p>We owe you, our attendees, an apology. This year we implemented an expanded fundraising option, the Goblin Grenade/Skitter Shot, that placed inappropriate and unacceptable pressure on our players to "pay to survive" at tables of Pathfinder Society and Starfinder Society Organized Play. This is unacceptable. We are sorry.</p>

  <p>SkålCon was originally organized as a way for us to play the games we love while also raising money for an organization and cause we care about. The SkålCon 2021 organizers lost sight of our mission and failed to uphold standards worthy of the organizations we represent - 10,000 Lakes Gaming, the Organized Play Foundation, and Tubman. Going forward, we will implement new standards to ensure that our fundraising maintains the spirit of fun, fair, and equitable play for all participants while reflecting the values that our contributing organizations expect from us.</p>

  <ul>
    <li>Any fundraising mechanics that affect gameplay (such as by adding/removing enemies, altering die rolls, granting new die rolls, or any other mechanical effects) will conform to defined rules for the Organized Play association that presents the game, and will be pre-cleared by the appropriate Organized Play administrators.</li>

    <li>Fundraising mechanics that allow mechanical changes to a game before, during, or after gameplay will only apply to tables that are clearly marked in all convention materials and registration forms as being subject to game-altering mechanics.</li>

    <li>Any fundraising mechanics that affect gameplay will have a clearly-defined list of effects that must be selected from when the alteration is chosen by the donor; effects that are not on the predefined list will be rejected. All effects on the list will have been pre-approved by the GM and published in convention materials prior to the start of the convention.</li>
  </ul>

  <p>We look forward to the opportunity to regain the trust of our community, our volunteers, our donors, and the organizations we represent. If any attendees of SkålCon would like to discuss this with us further, we welcome questions via our Discord channel, through our social media feeds, or by reaching out through <a href="mailto:contact@skalcon.org">contact@skalcon.org</a>.</p>

  <p>Additionally, if any players who experienced such events would like to discuss removing the sessions from their record, they can email <a href="mailto:organizedplay@paizo.com">Organized Play Coordinator Alex Speidel</a>.</p>

  <p>Thank you!</p>

  <p>The SkålCon Organizers</p>

</div>
<hr>
<div><%= image_tag("MN-POP.png", width: 250, alt: "Minnesota Paizo Organized Play") %>
  <%= image_tag("10klogo.png", height: 250, alt: "10kLakesGaming", border: 1) %></div>
<%= render partial: "layouts/opt_out_email_footer" %>
</body>
</html>
