The physical SkålCon 2020 convention is cancelled.

We realize many of you were looking forward to this event. However, with the COVID-19 pandemic still ongoing, it
would be immensely difficult for us to hold a safe convention for our volunteers and attendees given the nature of
gaming conventions (i.e. sitting in the same room for 12+ hours in a day in relative close proximity with other
people).

SkålCon 2021 will be held September 24th - 26th 2021 at the Crowne Plaza Minneapolis West. We hope that the effects
of the pandemic will be mitigated by then!

But we still need your help! We’d love to bring our community together online, to meet (at a distance) and to raise
donations for Tubman like we do every year. To better assess how to hold an online event that meets these goals, we
need YOU to please take this survey: https://forms.gle/cxwHbSZZ1DM4c2a1A
We have some simple questions about the types of programming an online event would have and will help determine if
we have enough interest in an online Skalcon event this year!</p>
