@import "bootstrap-sprockets";
@import "bootstrap";



.header-main{
background-color: red;
}

.social-media{
height: 40px;
background-color: navy;
}

.banner{
height: 100px;
background-color: lime;
}

.footer-main{
height: 60px;
background-color: gray;
}
