@import "bootstrap-sprockets";
@import "bootstrap";

$black: #000;
$blue: #008;
$bright-green: #32cd32;
$darkerGrey: #ccc;
$darkestGrey: dimgrey;
$darkPink: #f99;
$evergreen: forestgreen;
$lightGrey: #eee;
$lightPink: #fdd;
$maroon: #7a0019;
$money: #99cc66;
$cost-going-up: #f8a300;
$orange: #fc9;
$purple: #800080;
$red: #f00;
$white: #fff;

$paleGray: #f2f2f2;
$gray: #555555;
$highlightGray: E0E0E0;
$backgroundGray: #f1f1f1;
$lightBlue: #95bed0;
$darkSkalBlue: #00121a;

$inner-stripe-even: #fffafa;
$inner-stripe-odd: #F5FFFA;

$main-background: #FFFFFF;
$social-media-background: #555555;
$banner-background: #FFFFFF;
$skal-gray: #555555;
$info: #007294;
$success: #398439;
$unpaid: #B00100;

.header-main {
  background-color: $main-background;
}

.social-media {
  background-color: $social-media-background;
  color: $white;
  display: flex;
}

.banner {
  height: 100px;
  background-color: $banner-background;
  width: 60%;
  margin: auto;
}

.bannerimg {
  width: 40%;
  margin: auto;
  display: block;
}

.footer-main {
  height: 60px;
  background-color: $skal-gray;
  color: $white;
}

.sidebar {
  background-color: $lightBlue;
  height: 100%;
  // TODO make this dynamic?

  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    li {
      text-align: center;
      color: $blue;
      margin-bottom: 5px;
      padding: 1px;
    }

    li a {
      display: block;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -border-radius: 10px;
      border-radius: 10px;
      background-color: $paleGray;
      color: $blue;
    }
    /* Change the link color on hover */
    li a:hover {
      background-color: $blue;
      color: white;
      text-decoration: none;
    }
  }
}

div.bottom {
  position: absolute;
  height: 100px;
  top: 100%;
  margin-top: -100px;
}

.header {
  background-color: $darkestGrey;
  color: yellow;
}

.no-pad {
  padding: 0;
  margin: 0;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.divider {
  color: $white;
  height: auto;
  background-color: $skal-gray;
  padding-left: 10px;
}

.row {
  margin: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

.striped-outer {
  border-bottom: solid black thin;
  //padding-left: 1em;
}

.row > div[class^="col-"]:first-child {
  padding-left: 2px;
}

.striped-outer:nth-child(odd) {
  background: $white;
}

.striped-outer:nth-child(even) {
  background: $lightGrey;
}

.striped-inner {
  min-height: 35px;
}

.striped-inner:nth-child(odd) {
  background: $inner-stripe-odd;
}

.striped-inner:nth-child(even) {
  background: $inner-stripe-even;
}

.totals {
  background: oldlace;
  color: black;
}

.inline {
  display: inline-block;
}

/* Override label to align left. */
.label {
  text-align: left;
}

// Allow these to be inline, rather than
.button_to,
.button_to div {
  display: inline;
}

.formTable {
  border-spacing: 2px;
  border-collapse: separate;
  width: 100%;
  td {
    font-size: 0.79em;
    padding: 5px;
    background-color: $white;
    vertical-align: top;
  }
  td:first-child {
    font-weight: bold;
    background-color: $lightGrey;
    width: 25%;
    white-space: nowrap;
  }
  td.tableHeaderInfo {
    width: 100%;
    color: #666666;
    border: thin solid #CCCCCC;
    background-color: #FFF2BF;
    white-space: normal;
  }
}

.btn-tier {
  @include button-variant($white, $gray, $gray);
  font-weight: bold;
}

.badge-core {
  background-color: magenta;
}

.btn-core {
  @include button-variant($white, magenta, magenta);
  font-weight: bold;
}

.badge-non-pfs {
  background-color: $red;
}

.btn-non-pfs {
  @include button-variant($white, $red, $red);
  font-weight: bold;
}

.badge-raffle {
  background-color: $success;
}

.btn-raffle {
  @include button-variant($white, brown, brown);
  font-weight: bold;
}

.badge-pregen {
  background-color: $purple;
}

.btn-pregen {
  @include button-variant($white, $purple, $purple);
  font-weight: bold;
}

.badge-hardmode {
  background-color: $maroon;
}

.btn-hardmode {
  @include button-variant($white, #560D00, #560D00);
  font-weight: bold;
}

.badge-retired {
  background-color: $black;
}

.btn-retired {
  @include button-variant($white, $black, $black);
  font-weight: bold;
}

.badge-player {
  background-color: $maroon;
}

.badge-gm {
  background-color: $bright-green;
}

.badge-premium {
  background-color: $blue;
}

.btn-premium {
  @include button-variant($white, $blue, $blue);
  font-weight: bold;
}

.badge-cost {
  background-color: $money;
  color: black;
}

.btn-cost {
  @include button-variant($black, $money, $money);
  font-weight: bold;
}

.badge-cost-increasing {
  background-color: $cost-going-up;
  color: black;
}

.btn-cost-increasing {
  @include button-variant($black, $cost-going-up, $cost-going-up);
  font-weight: bold;
}

.badge-unpaid {
  background-color: $unpaid;
  color: yellow;
}

.badge-evergreen {
  background-color: $evergreen;
}

.btn-evergreen {
  @include button-variant($white, $evergreen, $evergreen);
  font-weight: bold;
}
.btn-more-info {
  @include button-variant($white, #007294, #007294);
  font-weight: bold;
}

.bordered {
  border: 2px solid $red;
}

.btn-round-lg {
  border-radius: 22.5px;
}

.btn-round {
  border-radius: 17px;
}

.btn-round-sm {
  border-radius: 15px;
}

.btn-round-xs {
  border-radius: 11px;
}
.btn-info {
  @include button-variant($white, #007294, #007294);
}



