@import "bootstrap-sprockets";
@import "bootstrap";
$black: #000;
$red: #f00;
$blue: #008;
$bright-green: #32cd32;
$maroon: #7a0019;
$white: #fff;
$lightGreen: #efe;
$lightGrey: #eee;
$inner-stripe-odd: #F5FFFA;
$inner-stripe-even: #fffafa;
$darkerGrey: #ccc;
$darkestGrey: #777;
$darkPink: #f99;
$lightPink: #fdd;
$orange: #fc9;
$purple: #800080;

$main-background: #FFFFFF;
$social-media-background: #555555;
$banner-background: #FFFFFF;
$skal-gray: #555555;
$info: #269abc;
$success: #398439;

.header-main {
  background-color: $main-background;
}

.social-media {
  background-color: $social-media-background;
  color: $white;
  display: flex;
}

.banner {
  height: 100px;
  background-color: $banner-background;
  width: 60%;
  margin: auto;
}

.bannerimg {
  width: 40%;
  margin: auto;
  display: block;
}

.footer-main {
  height: 60px;
  background-color: $skal-gray;
  color: $white;
}

.sidebar {
  background-color: $lightGreen;
  // TODO make this dynamic?
  height: 75%;
}

div.bottom {
  position: absolute;
  height: 100px;
  top: 100%;
  margin-top: -100px;
}

.header {
  background-color: $darkestGrey;
  color: yellow;
}

.no-pad {
  padding: 0;
  margin: 0;
}

ul.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 13%;
  background-color: $lightGrey;
  //height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  li a {
    display: block;
    //background-color: $lightGrey;
  }
  /* Change the link color on hover */
  li a:hover {
    background-color: $maroon;
    color: white;
    text-decoration: none;
  }
}

.active {
  background-color: #4CAF50;
  color: white;
}

.divider {
  color: $white;
  height: auto;
  background-color: $skal-gray;
  padding-left: 10px;
}

.row {
  margin: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

.striped-outer {
  border-bottom: solid black thin;
  padding-left: 1em;
}

.striped-outer:nth-child(odd) {
  background: $white;
}

.striped-outer:nth-child(even) {
  background: $lightGrey;
}

.striped-inner {
  min-height: 35px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.5em;
}

.last {
  padding-right: 0.5em;
  margin-right: 0.5em;
}

.striped-inner:nth-child(odd) {
  background: $inner-stripe-odd;
}

.striped-inner:nth-child(even) {
  background: $inner-stripe-even;
}

.inline {
  display: inline-block;
}

/* Override label to align left. */
.label {
  text-align: left;
}

// Allow these to be inline, rather than
.button_to,
.button_to div {
  display: inline;
}

.formTable {
  border-spacing: 2px;
  border-collapse: separate;
  width: 100%;
  td {
    font-size: 0.79em;
    padding: 5px;
    background-color: $white;
    vertical-align: top;
  }
  td:first-child {
    font-weight: bold;
    background-color: $lightGrey;
    width: 25%;
    white-space: nowrap;
  }
  td.tableHeaderInfo {
    width: 100%;
    color: #666666;
    border: thin solid #CCCCCC;
    background-color: #FFF2BF;
    white-space: normal;
  }
  td.changedLabel {
    background-color: $darkPink;
  }
  td.changedData {
    background-color: $lightPink;
  }
}

.badge-core {
  background-color: $info;
}
.badge-raffle {
  background-color: $success;
}
.badge-pregen {
  background-color: $purple;
}
.badge-hardmode {
  background-color: $red;
}
.badge-retired {
  background-color: $black;
}
