<h1>Editing Additional Payment</h1>

<%= render 'form' %>

<%= link_to 'Show', [@event, @user_event, @additional_payment], :class => 'btn btn-info' %>
<%= link_to 'Back', event_user_event_additional_payments_path(@event, @user_event), :class => 'btn btn-warning' %>